 <nav class="main-nav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Магазин курсів lightVvin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isHome}}
          <li class="active">
            <a href="/">Головна</a>
        </li>
        {{else}}
           <li>
            <a href="/">Головна</a>
        </li>
        {{/if}} 

        {{#if isCourses}}
        <li class="active"><a href="/courses">Курси</a></li>
        {{else}}
           <li>
            <a href="/courses">Курси</a>
            </li>
        {{/if}} 


        {{#if isAuth}}

          {{#if isAdd }}
            <li class="active"><a href="/add">Додати курс</a></li>
          {{else}}
             <li>
              <a href="/add">Додати курс</a>
             </li>
          {{/if}} 

          
           {{#if isCard }}
             <li class="active card-nav"><a href="/card">Кошик<span class="cardCount" id="cardCount">0</span></a></li>
           {{else}}
             <li class="card-nav">
               <a href="/card">Кошик<span class="cardCount" id="cardCount">0</span></a>
              </li>
           {{/if}} 

          {{#if isOrder }}
             <li class="active card-nav"><a href="/orders">Замовлення</a></li>
          {{else}}
              <li class="card-nav">
                <a href="/orders">Замовлення</a>
               </li>
          {{/if}} 

           <li><a href="/auth/logout">Вийти</a></li> 

        {{else}}
            {{#if isLogin }}
              <li class="active card-nav"><a href="/auth/login#login">Увійти</a></li>
           {{else}}
              <li class="card-nav">
                 <a href="/auth/login#login">Увійти</a>
               </li>
            {{/if}}

        {{/if}} 
      </ul>
    </div>
  </nav>
        