<h3 style="text-align: center;">Кошик</h3>

<div id="card">
{{#if courses.length}}
  <table>
    <thead>
      <tr>
        <th>Назва</th>
        <th>Кількість</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      
      {{#each courses}}
      <tr>
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>
          <button 
          class="btn btm-small js-remove" 
          data-id="{{id}}"
          data-csrf="{{@root.csrf}}"
          >Видалити</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <p><strong>Ціна:</strong> <span class="price">{{price}}</span></p>

  <div class="btn-box-cart">
    <form action="/orders" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">   
    <button type="submit" class="btn">Зробити замовлення</button>
    </form>

    <button
     type="button" 
     class="js-remove-all btn"
     data-id="{{id}}"
     data-csrf="{{@root.csrf}}"
     >Відчистити кошик</button>
  </div>

  
{{else}}
  <p>Кошик пуст</p>
{{/if}}
</div>