
<section class="product-detail section-padding">
                <div class="container">

  <h1>Редагувати {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="form-floating my-4">

          <input id="title" name="title" type="text" class="validate form-control" required value="{{course.title}}">
                <label for="first_name">Назва курсу</label>
          <span class="helper-text" data-error="Введите название курса"></span>
        </div>

      <div class="form-floating my-4">
        
          <input id="price" name="price" type="text" class="validate form-control" required min="1" value="{{course.price}}">
          <label for="price">Ціна курсу   
          </label>
          <span class="helper-text" data-error="Введите цену"></span>
        </div>  

      <div class="form-floating my-4">
 
          <input  id="img" name="img" type="text" class="validate form-control" required value="{{course.img}}">
                <label for="img">URL картинки</label>
          <span class="helper-text" data-error="Введите URL картинки"></span>
        </div>

        <input type="hidden" name="id" value="{{course.id}}">
        <input type="hidden" name="_csrf" value="{{csrf}}"> 

      <button class="btn custom-btn cart-btn mb-3" type="submit" style='max-width: 250px;'>Редагувати курс</button>
  </form>
  <form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{ course.id }}">
    <input type="hidden" name="_csrf" value="{{csrf}}"> 
    <button class="btn custom-btn cart-btn mb-3" style='max-width: 250px;'>Видалити курс</button>
  </form>

         </div>
            </section>