<h5 style="text-align: center;">Покупай та вивчай. Тут всі доступні курси які були викладені на платформі.</h5>
{{#if courses.length}}
  {{#each courses}}
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-image card-image__box">
            <img src="{{this.img}}" alt="{{this.title}}" class="course-image">
          </div>
          <div class="card-content">
            <span class="card-title">{{this.title}}</span>
            <p class="price">{{this.price}}</p>

            <pre>{{userId._id}} {{@root.userId}}</pre>

          </div>
          <div class="card-action actions" >

            <a href="/courses/{{this.id}}" target="_blank">Відкрити курс</a>
            {{#if @root.isAuth}}

            {{#ifeq userId._id @root.userId}}
            <a href="/courses/{{this.id}}/edit?allow=true"> Редагувати курс</a>
             {{/ifeq}}

            <form class="form-add" enctype="application/x-www-form-urlencoded">
 
              <input type="hidden" class="csrf" name="_csrf" value="{{@root.csrf}}"> 
              <input type="hidden" class="cid" name="id" value="{{id}}">
              <button type="submit" class="btn btn-primary">Замовити</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>Курсів ще немає</p>
{{/if}}
